Node_Red_flow_standby_killer
[{"id":"78a6e0a3.db53b","type":"tab","label":"BSD34_test","disabled":false,"info":""},{"id":"4c61cfc3.2fbd8","type":"mqtt in","z":"78a6e0a3.db53b","name":"","topic":"BSD34_1/powerW","qos":"0","datatype":"auto","broker":"ae1c46bc.9292f8","x":110,"y":440,"wires":[["df3fd55f.a11d08"]]},{"id":"309ef903.8adb46","type":"mqtt out","z":"78a6e0a3.db53b","name":"","topic":"BSD34_1/Relay_sw","qos":"","retain":"","broker":"ae1c46bc.9292f8","x":780,"y":220,"wires":[]},{"id":"9ee689c4.941c58","type":"debug","z":"78a6e0a3.db53b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":500,"wires":[]},{"id":"521d3df9.781704","type":"mqtt in","z":"78a6e0a3.db53b","name":"","topic":"BSD34_1/#","qos":"0","datatype":"auto","broker":"ae1c46bc.9292f8","x":110,"y":500,"wires":[["9ee689c4.941c58"]]},{"id":"22097bde.c34994","type":"inject","z":"78a6e0a3.db53b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":390,"y":200,"wires":[["309ef903.8adb46"]]},{"id":"fa8b6b15.439ef8","type":"inject","z":"78a6e0a3.db53b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":110,"y":260,"wires":[["efe1999b.cd85a8"]]},{"id":"87e240bf.3895d","type":"inject","z":"78a6e0a3.db53b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":390,"y":240,"wires":[["309ef903.8adb46"]]},{"id":"a5dd7bb1.c2ff98","type":"inject","z":"78a6e0a3.db53b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":120,"y":220,"wires":[["efe1999b.cd85a8"]]},{"id":"efe1999b.cd85a8","type":"switch","z":"78a6e0a3.db53b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"str"},{"t":"gte","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":340,"wires":[["2b62eac3.90f8a6"],["9c2356b1.a46be8"]]},{"id":"2b62eac3.90f8a6","type":"function","z":"78a6e0a3.db53b","name":"","func":"if (flow.get(\"switch10_on\")==true)\n{\n    flow.set(\"timer\", true)\n    node.warn(\"timer=true\");\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":340,"wires":[["91d89a4d.a122d8","9a3386bc.2a6ed8"]]},{"id":"9c2356b1.a46be8","type":"function","z":"78a6e0a3.db53b","name":"","func":"flow.set(\"timer\", false)\nnode.warn(\"timer=false\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["d38de6ba.c825a8"]]},{"id":"91d89a4d.a122d8","type":"delay","z":"78a6e0a3.db53b","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":320,"wires":[["ae22a0f.28de26"]]},{"id":"ae22a0f.28de26","type":"function","z":"78a6e0a3.db53b","name":"","func":"var msg1\nif (flow.get(\"timer\")===true)\n{\n    msg1 = { payload: \"OFF\" };\n}\nflow.set(\"timer\", false)\nreturn msg1;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":740,"y":340,"wires":[["309ef903.8adb46","8422523e.ad3d7"],["8afd938c.61c75"]]},{"id":"8422523e.ad3d7","type":"debug","z":"78a6e0a3.db53b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":320,"wires":[]},{"id":"d38de6ba.c825a8","type":"debug","z":"78a6e0a3.db53b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":420,"wires":[]},{"id":"9a3386bc.2a6ed8","type":"debug","z":"78a6e0a3.db53b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"29d2c384.25744c","type":"mqtt in","z":"78a6e0a3.db53b","name":"","topic":"BSD34_1/Relay_st","qos":"0","datatype":"auto","broker":"ae1c46bc.9292f8","x":450,"y":100,"wires":[["f9624695.0d5258","e0cbc061.158e6"]]},{"id":"f9624695.0d5258","type":"function","z":"78a6e0a3.db53b","name":"","func":"if(msg.payload == \"ON\")\n{\n    flow.set(\"switch10_on\", true)\n    node.warn(\"switch=true\");\n}\nif(msg.payload == \"OFF\")\n{\n    flow.set(\"switch10_on\", false)\n    node.warn(\"switch=false\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["90340313.aade1"]]},{"id":"e0cbc061.158e6","type":"debug","z":"78a6e0a3.db53b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":160,"wires":[]},{"id":"90340313.aade1","type":"debug","z":"78a6e0a3.db53b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":100,"wires":[]},{"id":"df3fd55f.a11d08","type":"delay","z":"78a6e0a3.db53b","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":440,"wires":[["efe1999b.cd85a8"]]},{"id":"8afd938c.61c75","type":"debug","z":"78a6e0a3.db53b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"ecf8cad4.d75568","type":"comment","z":"78a6e0a3.db53b","name":"Test values","info":"","x":130,"y":180,"wires":[]},{"id":"97c7fc34.69b6d","type":"comment","z":"78a6e0a3.db53b","name":"Threshold is 2W","info":"","x":300,"y":300,"wires":[]},{"id":"631f7c41.f86e94","type":"comment","z":"78a6e0a3.db53b","name":"Debounce time","info":"","x":580,"y":280,"wires":[]},{"id":"ae1c46bc.9292f8","type":"mqtt-broker","name":"mosquitto 104","broker":"192.168.10.104","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
